/* .container {
    display: grid;
    grid-template-columns: 100px 500px;
    grid-template-rows: auto;
    background-color: aqua;
    padding: 10px;
}
.item {
    background-color: brown;
    color: aquamarine;
    font-size: 12px;
    width: 70px;
    height: 70px;
} */

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 25px 10px;
}
.item {
    background-color: blue;
    border: 1px solid #fff;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.item1,
.item6,
.item8 {
    grid-column-start: 1;
    grid-column-end: 3;
}
